body {
    background-color: rgb(237, 237, 238) !important;
}

canvas {
    border: 2px solid black;
}

#flower {
    width: 75%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 20%;
    transform: translate(-50%, 0%);
}

#navigation {
    background-color: lightgrey;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80pt;
    text-align: center;
}

#navigation a {
    color: #6E6E6E;

}

#save-btn {
    font-size: 50pt;
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

#jasper-logo {
    padding: 10px;
    height: 10%;
}

#adminHeader {
    font-size: 50pt;
    font-family: "Roboto Condensed", sans-serif;
    padding-left: 5%;
}

#jaglunch-unavailable {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 50pt;

}

.messagebox {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60pt;
    margin:3%;
}
.secondary {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30pt;
    color: #9E9E9E;
    font-style: italic;
}