body {
    background-color: rgb(237, 237, 238) !important;
}

canvas {
    border: 2px solid black;
}

#flower {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#navigation {
    background-color: lightgrey;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80pt;
    text-align: center;
}

#jasper-logo {
    padding: 10px;
    height: 10%;
}

.messagebox {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 60pt;
    margin-top: 5%;
}